@import url(https://fonts.googleapis.com/css?family=Michroma&subset=cyrillic);
body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #001085 0%, #000000 100%);
}
p{
    color: aquamarine;
}
.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active{
    color: rgb(133, 133, 133); 
}
.navbar-brand>img{
    width: 40px;
}
.navbar-toggler-icon {
background-color: rgb(162, 166, 169);
width: 50px;
height: 40px;
padding: 20px;
margin: -30px;
margin-top: -20px;
position: absolute;
}
 .sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #0014ad 0%, #1c1c1c 100%);
    width: 580px;
    ;
   
}
.card{
    background: linear-gradient(270deg, #0014ad 0%, #1c1c1c 100%); 
    color: aquamarine;  
}
  .card a{
    text-decoration: none;
    color: aquamarine
  }
  .slide-text,.footer-text{
    color: aquamarine;
 margin: auto auto; }
 
 footer,.btn-outline-primary {
    background: linear-gradient(270deg, #0014ad 0%, #1c1c1c 100%);  
 }
 .media-links{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .call-anim{
    animation: myAnim 2s ease 0s 100000 normal forwards;
 }
 @keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
 @media ( max-width: 755px){
  
    .carousel-indicators{
        display: none;

    }}

    